
h2{
	text-align: center;
	color: skyblue;
}


#h4{
	margin-right: 12%;
}

.modal-dialog{
      width: 90%;
    }      
#mdate{
	width: 25%;
}
.form-inline .form-control{
	width: 50%;
}

.module{
	margin-top: 20px;
}

#to{
	width: 20%;
}
#from{
	width: 20%;
}

#Buyer-treding{
	margin-top: 86px;
}

select,input{
	margin: 5px;
	margin-left: 0;
}

	input[type=checkbox]{
		margin: 4px 10px 0;
	}


.leftside{
	float: right;
}

#seller-treding-name,#Buyer-treding-name{
	width: 65%;
}
#datem{
	width: 25%;
}

#status{
	/*margin-top: 8px;*/
	margin-right: 	2%;
}
.checklist-form{
	margin-top: 35px;
}
.checklist-form .checklist label ,.Confirmation .page label{
	margin-top: 8px;
}
.module .RUSI{
	margin-right: 2px;

}

label{
	font-size: 12px;
}

/*---------------------------------------------------------------------------------*/

@media only screen and (max-width: 768px) and (orientation : portrait) {

.modal-body{
	padding: 0;
}

.checklist .form-inline input{
	float: left;
}
.checklist .form-inline select{
float: left;
}
.checklist .form-inline label{
/*float: left;*/
}

.col-sm-5{
	/*padding: 0;*/
	    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
}

.modal-dialog{
      width: 96%;
    }   

label {
    /*margin-top: 8px;
    font-size: 12px;
        font-weight: 700;*/
}

#Status{
	float: right !important;
}

.Confirmation .page{
	width: 113%;
}

}





@media (min-width: 992px){

.col-md-6{
	width: 46%;
}

}



@media only screen and (max-width: 1024px) and (orientation : landscape) {

	.modal-dialog{
      width: 95%;
    }   

	}